* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;

  /* background: #c2d6d6; */
}

ul {
  padding: 0;
  /* display: flex; */
  text-align: center;
}

.city {
  margin-bottom: 0;
}

.today {
  margin: 40px 0 0 0;
  font-size: 1.2em;
  /* position: absolute; */
  /* left: 0; */
  /* bottom: 0; */
}

.column {
  /* display: flex;
  flex-direction: column; */
  /* width: 500px; */
  /* align-items: center; */
  /* position: relative; */
  margin: 15px;
}

.row {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  text-align: center;
}

.forecast_list {
  display: flex;
  justify-content: space-around;
}

.forecast-item .icon {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-item {
  text-decoration: none;
}

.location {
  margin: 2em;
}

.region {
  margin: 0;
}

.weather-container {
  text-align: center;
  /* position: relative; */
  margin: 0 2em 3em 2em;
}

.current-temp {
  font-size: 5.3em;
  margin: 0;
  display: inline-block;
}

.current-condition {
  /* position: absolute;
  bottom: 0;
  left: 0; */
  color: grey;
  font-size: 1.3em;
}

.curr-weather-info {
  text-align: center;
}

.current-icon {
  width: 130px;
}

.forecast-container {
  margin: 1.5em 0 0 0;
  display: inline-block;
  /* color: white; */
  text-align: center;
  padding: 14px;
  list-style: none;
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.unit-button {
  position: absolute;
  top: 10%;
  left: 80%;
}

.container {
  position: relative;
}

.forecast-temp {
  color: grey;
}

.humidity {
  margin: 0;
}

.day-info {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}

.info1 {
  display: flex;
  justify-content: space-around;
}

.info2 {
  display: flex;
  justify-content: space-around;
}

.info3 {
  display: flex;
  justify-content: space-around;
}

.current_weather {
  /* background: white; */
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 15px;
  /* padding-top: 8px; */
}
/* .temp {
  display: flex;
} */

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}
